---
import Layout from '../components/layout.astro';

const assetsUrl = 'img'
const products = [
  {
    href: 'https://pokemon-awesome.vercel.app/',
    name: 'Pokémon Awesome',
    desc: 'Rank #2 on Google when you search for "compare pokemons".',
    dateInfo: 'July 2024',
    preview: { src: 'pokemon-awesome.webp', width: 600, height: 379 },
    previewPlaceholder: { src: 'pokemon-awesome-placeholder.webp', width: 500, height: 316 },
  },
];
---

<Layout
  title="Abdul Rahman"
  description="Abdul Rahman, a software engineer focused on web development and currently is focusing on fullstack."
>
  <Fragment slot="head">
    <link
      rel="preload"
      as="image"
      type="image/webp"
      href={`/img/${products[0].previewPlaceholder!.src}`}
    />
    <link
      rel="preload"
      as="image"
      type="image/webp"
      href={`/img/${products[1].previewPlaceholder!.src}`}
    />
  </Fragment>

  <main class="px-5 py-14 sm:px-7 md:px-8 md:pt-16 md:pb-24 mx-auto max-w-2xl transition-[padding]">
    <h1 class="font-bold text-2xl sm:text-3xl">Abdul Rahman</h1>
    <p class="pt-0.5 text-neutral-400 text-lg sm:text-2xl font-extralight">
      Software Engineer
    </p>

    <p class="pt-8">
      A Software Engineer specializing in web development and currently learning as a Fullstack.
      Started career as a Android Engineer, then learned 
      <span class="bg-neutral-800 p-1 rounded-md">React Native</span> <span class="text-blue-400">&#8594;</span> 
      <span class="bg-neutral-800 p-1 rounded-md">React JS</span> <span class="text-blue-400">&#8594;</span> 
      <span class="bg-neutral-800 p-1 rounded-md">Gatsby JS</span> <span class="text-blue-400">&#8594;</span> 
      <span class="bg-neutral-800 p-1 rounded-md">Next JS</span> <span class="text-blue-400">&#8594;</span> 
      <span class="bg-neutral-800 p-1 rounded-md">Fullstack (Here I Am)</span>
    </p>

    <div
      class="mt-12 ext-2xl font-extralight flex gap-3.5 items-center text-neutral-400 tracking-wide"
    >
      <h2>PROJECTS</h2>
      <div class="h-px bg-neutral-500 flex-1"></div>
    </div>
    {
      products.map((product, i) => {
        return (
          <section class="pt-10 pb-1">
            <div class="sm:flex sm:items-center sm:justify-between">
              <a
                href={product.href}
                target="_blank"
                class="[&:hover_h3]:underline [&:hover_h3]:decoration-dashed [&:hover_h3]:decoration-blue-400 inline-block -my-1 py-1"
              >
                <h3 class="inline font-semibold text-lg">{product.name}</h3>
                <svg
                  class="inline w-4 h-4 relative -top-0.5 text-blue-400"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  aria-hidden="true"
                  data-slot="icon"
                >
                  <path
                    fill-rule="evenodd"
                    d="M15.75 2.25H21a.75.75 0 0 1 .75.75v5.25a.75.75 0 0 1-1.5 0V4.81L8.03 17.03a.75.75 0 0 1-1.06-1.06L19.19 3.75h-3.44a.75.75 0 0 1 0-1.5Zm-10.5 4.5a1.5 1.5 0 0 0-1.5 1.5v10.5a1.5 1.5 0 0 0 1.5 1.5h10.5a1.5 1.5 0 0 0 1.5-1.5V10.5a.75.75 0 0 1 1.5 0v8.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V8.25a3 3 0 0 1 3-3h8.25a.75.75 0 0 1 0 1.5H5.25Z"
                    clip-rule="evenodd"
                  />
                </svg>
              </a>
              <div class="text-sm bg-neutral-800 text-white inline-block rounded-md px-2 py-0.5">
                {product.dateInfo}
              </div>
            </div>
            <p class="text-sm pt-1.5 pb-4 text-neutral-400 font-light">{product.desc}</p>
            <div class="rounded-lg overflow-hidden relative border border-neutral-700">
              {product.previewPlaceholder ? (
                <>
                  <img
                    id={`img-${i}`}
                    src={`${assetsUrl}/${product.previewPlaceholder.src}`}
                    width={product.previewPlaceholder.width}
                    height={product.previewPlaceholder.height}
                    class="w-full"
                    alt={`${product.name} preview`}
                  />
                  <div class="absolute bottom-4 right-4 bg-white/90 rounded-md px-3 py-1.5 text-sm appear text-neutral-800 shadow-md">
                    ⏳ &nbsp;Loading animated preview...
                  </div>
                </>
              ) : (
                <img
                  src={`${assetsUrl}/${product.preview.src}`}
                  width={product.preview.width}
                  height={product.preview.height}
                  class="w-full"
                  alt={`${product.name} preview`}
                  loading="lazy"
                />
              )}
            </div>
          </section>
        );
      })
    }

    <div
      class="mt-24 text-2xl font-extralight flex gap-3.5 items-center text-neutral-400 tracking-wide"
    >
      <h2>TOOLS</h2>
      <div class="h-px bg-neutral-500 flex-1"></div>
    </div>
    <ul
      class:list={[
        'pt-8 flex flex-wrap gap-2 items-center',
        '[&_li:not(:last-child)]:bg-neutral-800 [&_li:not(:last-child)]:px-2 [&_li:not(:last-child)]:py-0.5 [&_li:not(:last-child)]:rounded-md',
      ]}
    >
      <li>JavaScript</li>
      <li>TypeScript</li>
      <li>Go Lang</li>
      <li>Next JS</li>
      <li>Astro JS</li>
      <li>React</li>
      <li>Vanilla JS</li>
      <li>HTML</li>
      <li>CSS / Sass / Less</li>
      <li>Tailwind</li>
      <li>Ant Design</li>
      <li>TanStack-Query</li>
      <li class="text-neutral-400">and many more...</li>
    </ul>

    <div
      class="mt-24 text-2xl font-extralight flex gap-3.5 items-center text-neutral-400 tracking-wide"
    >
      <h2>LINKS</h2>
      <div class="h-px bg-neutral-500 flex-1"></div>
    </div>
    <ul
      class:list={[
        'pt-7',
        '[&_a]:inline-block [&_a]:py-1',
        '[&_a:hover]:underline [&_a:hover]:decoration-dashed [&_a:hover]:decoration-blue-400',
        '[&_span]:text-neutral-400 [&_span]:ml-[3px]',
      ]}
    >
      <li>
        <a href="mailto:abdulrahmaninformatics@gmail.com">abdulrahmaninformatics@gmail.com &nbsp;📬</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/abdulrahman-l/">linkedin.com<span>/abdulrahman-l/</span></a>
      </li>
      <li>
        <a href="https://github.com/abdlrahman-l">github.com<span>/abdlrahman-l</span></a>
      </li>
    </ul>

    <div class="pb-12"></div>
  </main>
</Layout>

<style is:global>
  a {
    @apply decoration-dashed;
  }

  .appear {
    opacity: 0;
    animation: appear 0.5s linear 0.7s forwards;
  }
  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 100%;
    }
  }
</style>
