---
const assetsUrl = "img";
interface Props {
    href: string;
    name: string;
    desc: string;
    dateInfo: string;
    preview: { src: string; width: number; height: number };
    tags: string[];
}
const { href, name, desc, dateInfo, preview, tags } = Astro.props;
---

<div
    class="bg-black border h-full rounded-md shadow-md cursor-pointer p-3 space-y-3 flex flex-col justify-between"
>
    <div class="space-y-2">
        <h4 class="text-sm font-bold">{name}</h4>
        <p class="text-xs font-light text-neutral-300">{desc}</p>

        <div class="w-full flex flex-wrap">
            {
                tags.map((t) => (
                    <span class="bg-primary text-tertiary text-xs font-semibold mt-2 me-2 px-2 py-1 rounded">{t}</span>
                ))
            }
        </div>
    </div>
    <div class="min-h-[150px] max-h-[200px] overflow-hidden rounded-md relative border">
        <span class="absolute top-0 right-0 z-10 bg-black p-1 text-xs rounded-bl-md">{dateInfo}</span>
        <img
            src={`${assetsUrl}/${preview.src}`}
            alt={`${name} preview`}
            loading="lazy"
        />
    </div>
</div>
